<div class="wrapper container">
	<form name="form">		
			<div class="col-sm-12 col-md-6">
				<img class="imagem" data-ng-src="{{livro.imagem}}">
				<input type="file" ng-model="livro.imagem" accept="image/*" app-filereader />
			</div>
			<div class="col-sm-12 col-md-6">
				<input ng-model="livro.isbn" class="form-control" type="text" ng-required="true" placeholder="ISBN"/>
			</div>
			<div class="col-sm-12 col-md-6">
				<input ng-model="livro.tituloLivro" class="form-control" type="text" ng-required="true" placeholder="Titulo do Livro"/>
			</div>
			<div class="col-sm-12 col-md-6">
				<input ng-model="livro.dataPublicacao" class="form-control" type="text" ng-required="true" placeholder="Data da publicação"/>
			</div>
			<div class="col-sm-4 col-md-2">
				<input ng-model="livro.precoCusto" class="form-control" type="text" ng-required="true" placeholder="Preço de custo"/>
			</div>
			<div class="col-sm-4 col-md-2">
				<input ng-model="livro.precoVenda" class="form-control" type="text" ng-required="true" placeholder="Preço de venda"/>
			</div>
			<div class="col-sm-4 col-md-2">
				<input ng-model="livro.margemLucro" class="form-control" type="text" ng-required="true" placeholder="Margem de lucro"/>
			</div>
			<div class="col-sm-12 col-md-6">
				<input ng-model="livro.sumario" class="form-control" type="text" ng-required="true" placeholder="Sumario"/>
			</div>
			<div class="col-sm-12 col-md-6">
				<input ng-model="livro.resumo" class="form-control" type="text" ng-required="true" placeholder="Resumo"/>
			</div>
			<div class="col-sm-12 col-md-6 sel2">
				<select class="autor form-control text-center sel2" ng-model="livro.nomeAutor" type="text" ng-required="true">
				<option></option>
				</select>
			</div>
			<div class="col-sm-12 col-md-6 sel2">
				<select class="categoria form-control text-center sel2" ng-model="livro.categoria" type="text" ng-required="true">
					<option></option>
				</select>
			</div>
			<div class="col-sm-12 col-md-6 sel2">
				<select class="editora form-control text-center sel2" ng-model="livro.editora" type="text" ng-required="true">
					<option></option>
				</select>
			</div>
			<div class="col-sm-12 col-md-6 sel2">
				<select class="formato form-control text-center" ng-model="livro.formato" type="text" ng-required="true">
					<option></option>
					<option value="1">Capa Dura</option>
					<option value="2">PDF</option>
				</select>
			</div>
			<div class="col-sm-12 col-md-6 btn-salvar">
				<button ng-disabled="form.$invalid" class="btn btn-success form-control" ng-click="salvar(livro)">Salvar</button>
			</div>
		</div>
	</form>
</div>